<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" href="Layout.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>New-launches</title>
        </head>
        <body>
        <header>
            
            <div class="header-logo">
                <a href="/cop" class="Logo-button">
                    <img src="file (4).png" alt="Logo" class="Logo">
                </a>
            </div>

            <div class="header-explore">

                <a href="/casual" class="Login-button">
                    <span>Explorar</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                      </svg>
                </a>
                <a href="/fav" class="Login-button">
                    <span>fav</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                      </svg>
                </a>
            </div>

            <video id="myVideo" autoplay muted loop>
                <source src="Y2meta.app-Flame Spitting Aventador S in [4K]-(1080p).mp4" type="video/mp4">
            </video>

        </header>

        <div class="Teniscontenedor">
            <h1>Imagenes de Carros Deportivos</h1>
            <p>AV no solo brinda imagenes de casuales, tambien brinda fotografias de carros exoticos</p>
            <p>Brindando un espacio, para que los fotografos puedan expresarse</p>
        </div>
            <div class="gallery" id="gallery">

                
                <!-- Añadir más imágenes según sea necesario -->
            </div>
            <script src="Layout.js"></script>
    </body>
</html>